ul {
    list-style-type: none;
}

ul li a {
    color: rgb(255, 0, 30);
    text-decoration: none;
    padding: 3px;
    display: block;
}

@media screen and (max-width: 699px) and (min-width: 520px),
(min-width: 1000px) {
    ul li a {
        color: blue;
        padding-left: 30px;
        background: left center no-repeat;
    }
}

@media screen and (max-width: 1000px) and (min-width: 700px) {
    ul li a ::before {
        content: "Email";
        font-style: italic;
        color: #666666;
    }
}

@media screen and (min-width: 1001px) {
    ul li a:after {
        content: " (" attr(data-email0)")";
        font-size: 12px;
        font-style: italic;
        color: #666666;
    }
}